/*Стили для ссылок. Данный файл подключается локально, а название файла должно содержать
название компонента, к которому он подключается и .module*/
.link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 10px;
}